Length: {{ productService.products.length }}
<div class="card" *ngIf="productService.products?.length; else loading">
  <div class="card-header">
    {{ pageTitle }}
  </div>

  <div class="card-body" *ngIf="productService.products">
    <div class="list-group">
      <button
        class="list-group-item list-group-item-action rounded-0"
        *ngFor="let product of productService.products"
        [ngClass]="{
          active: product?.id === productService.selectedProduct?.id
        }"
        (click)="productSelected(product)"
      >
        {{ product.productName }}
        <ng-container *ngIf="productService.displayCode">
          ({{ product.productCode }})
        </ng-container>
      </button>
    </div>
  </div>

  <div class="card-footer">
    <div class="row">
      <div class="form-check col-md-7">
        <label>
          <input
            class="form-check-input"
            type="checkbox"
            (change)="checkChanged()"
            [checked]="productService.displayCode"
          />
          Display Product Code
        </label>
      </div>
      <div class="col-md-4 text-right">
        <button class="btn btn-primary" (click)="newProduct()">Add</button>
      </div>
    </div>
  </div>
</div>
<div *ngIf="errorMessage" class="alert alert-danger">
  Error: {{ errorMessage }}
</div>

<ng-template #loading>
  <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
</ng-template>
