<mat-toolbar>
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon>menu</mat-icon>
  </button>

  <span style="margin: 0 50px 0 10px">State Demo</span>

  <a mat-button [routerLink]="'/home'">Home</a>
  <a
    mat-button
    [routerLink]="'/products'"
    matBadge="{{ productService.products.length }}"
    >Products</a
  >

  <span class="example-spacer"></span>

  <span *ngIf="isLoggedIn">Welcome {{ userName }}</span>
  <a mat-button *ngIf="!isLoggedIn" [routerLink]="'/login'">Log In</a>
  <a mat-button *ngIf="isLoggedIn" (click)="logOut()" style="cursor: pointer"
    >Log Out</a
  >
</mat-toolbar>
